{
  "extends": ["react-app", "plugin:prettier/recommended"],
  "rules": {
    "no-unused-vars": "warn", // 사용하지 않는 변수 금지
    "react/jsx-pascal-case": "warn", // 컴포넌트 이름은 PascalCase로
    "react/no-direct-mutation-state": "warn", // state 직접 수정 금지
    "react/jsx-key": "warn", // 반복문으로 생성하는 요소에 key 강제
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  }
}
